@using System.Collections.Generic
@using SecondHandAuth.Commons
@{
    ViewBag.Title = "Chi tiết sản phẩm";
    Layout = "~/Views/Shared/_Ulayout.cshtml";
    List<Model.CustomModel.Inventory> Customs = (List<Model.CustomModel.Inventory>)ViewData["Customs"];
    Model.Product Detail = (Model.Product)ViewData["Detail"];

    string[] images = Detail.Images.Split(';');
    UserSession UserInf = (UserSession)Session["USER_SESION"];
}
<link rel="stylesheet" type="text/css" href="~/Assets/MyCss/buy.css" />

<div class="content">
    <div class="row-content">
        <div class="left">
            <div class="main-img">
                <img id="img-main" src="~/ImagesUpload/@images[0]" />
            </div>
            <div class="detail-img">
                @for (int i = 0; i < images.Length; i++)
                {
                    <img onclick="chainImg(this)" src="~/ImagesUpload/@images[i]">
                }
            </div>
        </div>
        <div class="right">
            <div class="right-content">
                <form>
                    <input type="hidden" value="@Detail.PK_ProductID" id="product-id" name="imgUrl" />
                    <input id="product-name" class="form-control" type="text" value="@Detail.Name" name="product_name" readonly />
                    <div id="vote">
                        <span color="#ee4d2d">
                            5.0 &nbsp
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </span>
                        &nbsp | &nbsp
                        75 đánh giá
                        &nbsp | &nbsp
                        210 đã bán
                    </div>
                    <input type="text" class="form-control" value="@Converter.PriceToVND(Detail.SalePrice)" name="price" readonly />
                    <div id="transport">
                        <span>Vận Chuyển: &nbsp <i class="fas fa-shuttle-van"></i> &nbsp 30.000 vnđ - Hà nội</span>
                        <br>
                        <label for="txt_address">Mô tả</label>
                        <textarea class="form-control" id="txt_address" readonly name="Address" rows="5">
                            @if (Detail.Posts.Count > 0)
                            {
                                @Detail.Posts.FirstOrDefault().Contents.ToString()
                            }
                            else
                            {
                                @Detail.Firm.FirmName.ToString()
                            }
                        </textarea>
                    </div>
                    <div class="product-custom row">
                        <div class="col-12">
                            <label for="sl-custom">Size - Màu</label>
                            <select id="sl-custom" name="custom" class="form-control">
                                @foreach(Model.CustomModel.Inventory item in Customs)
                                {
                                    <option value="@item.FK_CustomID">@item.Size - @item.Color</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="qty-area">
                        <span>Số Lượng: &nbsp&nbsp&nbsp&nbsp&nbsp</span>
                        <button type="button" onclick="subQty();">-</button>
                        <input id="txtQty" type="text" name="txtQty" value="1">
                        <button type="button" onclick="addQty();">+</button>
                    </div>
                    @if(Detail.Quantity <= 0)
                    {
                        <span class="text-danger">Hết hàng</span>
                        <button type="button" disabled class="btn" id="add-to-cart">Thêm Vào Giỏ Hàng</button>
                        <button class="btn btn-danger" disabled id="btn-buy">Mua ngay</button>
                    }
                    else
                    {
                        <button type="button" class="btn" id="add-to-cart">Thêm Vào Giỏ Hàng</button>
                        <a class="btn btn-danger" id="btn-buy">Mua ngay</a>
                    }
                </form>
            </div>
        </div>

        
    </div>

    @if (ViewBag.OnComment != null && (bool)ViewBag.OnComment)
    {
        <div class="row-content p-3 mt-2 m-auto rounded border border-info">
            <input id="post_id" type="hidden" value="@Detail.Posts.FirstOrDefault().PK_PostID" />
            <input id="content_mes" class="col-9 mr-2 form-control" placeholder="Bình luận" />
            <button id="btn_send" class="btn btn-primary col-2">Gửi</button>
        </div>
    }

    <div id="list_mes" class="row-content row p-3 m-auto rounded border border-info">
        @if(ViewBag.ListComment != null)
        {
            foreach (Model.Comment item in (List<Model.Comment>)ViewBag.ListComment)
            {
                <div class="col-10 offset-1 mt-1 p-2 border border-primary rounded">
                    @item.CreatedDate.ToString("dd/MM/yyyy hh:mm:ss tt") <br />
                    @(item.Author + ": " + item.Contents)
                </div>
                if(UserInf != null && item.FK_AccountID == UserInf.PK_AccountID)
                {
                    <div class="col-1 mt-1">
                        <i data-id="@item.PK_CommentID" class="fa fa-trash remove_mes"></i>
                    </div>
                }
            }
        }
    </div>
</div>






<script type="text/javascript">
		function chainImg(img) {
			let mainSrc = img.getAttribute("src");
			let imgMain = document.getElementById('img-main');
			imgMain.setAttribute("src", mainSrc);
		}

		function addQty() {
			let qty = document.getElementById('txtQty');
			qty.value = parseInt(qty.value) + 1;
		}

		function subQty() {
		    let qty = document.getElementById('txtQty');
		    if ($(qty).val() === "1") {
		        return;
		    }
			qty.value = parseInt(qty.value) - 1;
		}

		
</script>

<script type="text/javascript" src="~/Assets/MyScript/MyAjax.js"></script>
<script type="text/javascript" src="~/Assets/MyScript/AddToCart.js"></script>
<script type="text/javascript" src="~/Assets/MyScript/CommentEvent.js"></script>

