@model Model.Product
@{
    Layout = null;
    string[] images = @Model.Images.Split(';');
    string BaseUrlImage = "/ImagesUpload/";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Chi tiết sản phẩm</title>
    @Styles.Render("~/Admin/Layout/css")
    @Scripts.Render("~/Admin/Product/js")
    <style>
        #lb_upload:hover {
            cursor: pointer;
        }

        #lb_upload:hover {
            cursor: pointer;
        }

        .sub_upload {
            width: 150px;
            height: 150px;
            margin: 5px;
            border: 1px dotted #808080;
            cursor: pointer;
        }

        .active {
            border: 1px solid #00ff90;
        }

        #image_main {
            height: auto;
            width: auto;
            max-width: 500px;
            max-height: 500px;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-12 p-3 mb-2 bg-info text-white text-center">
                Chi tiết sản phẩm
            </div>
        </div>
        <div class="row mb-2 border border-info">
            <div class="col-2 p-3 mb-2">
                <a href="~/Admin/Product" class="btn btn-dark w-100" role="button">Thoát</a>
            </div>
            <div class="col-8 p-3 mb-2">
            @if ((List<Model.CustomModel.Inventory>)ViewData["Inventory"] != null)
            {
                <table class="table table-bordered text-center text-danger">
                    <thead>
                        <tr>
                            <td colspan="3" class="text-info">Chi tiết tồn sản phẩm</td>
                        </tr>
                        <tr>
                            <td>Size</td>
                            <td>Màu</td>
                            <td>Số lượng</td>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (Model.CustomModel.Inventory item in (List<Model.CustomModel.Inventory>)ViewData["Inventory"])
                        {
                        <tr>
                            <td>@item.Size</td>
                            <td>@item.Color</td>
                            <td>@item.Quantity</td>
                        </tr>
                        }
                    </tbody>
                </table>
            }
            </div>
            <div class="col-2 p-3 mb-2">
                <button id="btn_edit" class="btn btn-success w-100" role="button">Chỉnh sửa</button>
            </div>
        </div>
        <div class="row">
            @if (ViewBag.Mes != null)
            {
                <div id="err_dup" class="alert alert-success" role="alert">
                    @ViewBag.Mes
                </div>
            }
        </div>
        <form id="frm_create" name="frmCreate" method="post" action="/Admin/Product/Edit" enctype="multipart/form-data" class="row m-auto d-flex justify-content-center">
            <div class="col-5 border border-info rounded text-center mr-2">
                <div class="row">
                    <div class="col-12">
                        <label id="lb_upload" for="images_upload">
                            <img id="image_main" src="@BaseUrlImage@images[0]" />

                        </label>
                        <br />
                        <span class="text-center">chọn ảnh sản phẩm</span><br />
                        <input id="images_upload" name="Images" type="file" disabled class="invisible" multiple />
                    </div>
                </div>

                <div class="row">
                    <div id="list_upload" class="col-12 d-flex justify-content-center">
                        @for (int i = 0; i < images.Length; i++)
                        {
                            if (i == 0)
                            {
                                <img class="sub_upload active" onclick="changeMainImg(this)" src="@BaseUrlImage@images[i]" />
                            }
                            else
                            {
                                <img class="sub_upload" onclick="changeMainImg(this)" src="@BaseUrlImage@images[i]" />
                            }
                        }
                    </div>
                </div>
            </div>

            <div class="col-5 border border-info rounded pt-3 pb-3">
                <label for="txt_code">Mã sản phẩm</label>
                <input id="txt_code_edit" type="text" name="Code" value="@Model.PK_ProductID" readonly class="form-control" placeholder="Mã sản phẩm" />
                <div id="err_dup" class="alert alert-warning d-none" role="alert">

                </div>

                <label for="txt_name" class="mt-2">Tên sản phẩm</label>
                <input id="txt_name" type="text" name="Name" value="@Model.Name" disabled class="form-control" placeholder="Tên sản phẩm" />

                <label for="cmb_type" class="mt-2">Kiểu dáng</label>
                <select id="cmb_type" disabled name="FK_ProductTypeID" class="form-control">
                    <option></option>
                    @foreach(Model.ProductType type in (List<Model.ProductType>)ViewData["ListProductType"])
                    {
                        if(type.PK_TypeID == Model.FK_ProductTypeID)
                        {
                            <option value="@type.PK_TypeID" selected>@type.TypeName</option>
                        }
                        else
                        {
                            <option value="@type.PK_TypeID">@type.TypeName</option>
                        }
                    }
                </select>

                <label for="cmb_firm" class="mt-2">Hãng</label>
                <select id="cmb_firm" disabled name="FK_FirmID" class="form-control">
                    <option></option>
                    @foreach (Model.Firm firm in (List<Model.Firm>)ViewData["ListFirm"])
                    {
                        if (firm.PK_FirmID == Model.FK_FirmID)
                        {
                            <option value="@firm.PK_FirmID" selected>@firm.FirmName</option>
                        }
                        else
                        {
                            <option value="@firm.PK_FirmID">@firm.FirmName</option>
                        }
                    }
                </select>

                <label for="buy_price" class="mt-2">Giá nhập</label>
                <input id="buy_price" type="text" value="@Model.BuyPrice" disabled name="BuyPrice" class="form-control" placeholder="Giá nhập" />

                <label for="sale_price" class="mt-2">Giá bán</label>
                <input id="sale_price" type="text" name="SalePrice" value="@Model.SalePrice" disabled class="form-control" placeholder="Giá bán" />

                <label for="status" class="mt-2">Tình trạng</label>
                <input id="status" type="text" name="Status" value="@Model.Status" disabled class="form-control" placeholder="Tình trạng" />

                <label for="description" class="mt-2">Mô tả thêm</label>
                <input id="description" type="text" name="Description" value="@Model.Description" disabled class="form-control" placeholder="Mô tả thêm" />
            </div>
        </form>
        <div class="row mt-2 mb-2">
            <div class="col-12 p-3 text-center">
                <button type="button" disabled id="btn_save_edit" class="btn btn-success">Lưu</button>
            </div>
        </div>
    </div>
    <!-- Modal kiểu dáng -->

    <!-- Modal hãng -->

    <script type="text/javascript" src="~/Assets/MyScript/MyAjax.js"></script>
    <script type="text/javascript" src="~/Assets/MyScript/ProductEvent.js"></script>


</body>
</html>
