@using PagedList.Mvc
@model  PagedList.IPagedList<Model.Product>  
@{
    ViewBag.Title = "Quản lý sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1 class="h3 mb-2 text-gray-800">Quản lý sản phẩm</h1>
<div class="row mb-2">
    <div class="col-md-5 offset-md-3">
        <form class="row" action="/Admin/Product/Index" method="get">
            <input type="text" name="code" value="@ViewBag.Code" class="form-control col-9" id="search_area" placeholder="Mã sản phẩm" />
            <button type="submit" id="btn_search" class="btn btn-primary col-3 form-control">Tìm kiếm</button>
        </form>
    </div>
    <div class="col-md-2 offset-md-2 text-right">
        <a class="btn btn-primary" href="~/Admin/Product/Create" role="button">Thêm mới</a>
    </div>
</div>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Dữ liệu sản phẩm</h6>
            @if (ViewBag.Mes != null)
            {
                <div id="err_dup" class="alert alert-success" role="alert">
                    @ViewBag.Mes
                </div>
            }
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100" cellspacing="0">
                <thead>
                    <tr>
                        <th>Mã sản phẩm</th>
                        <th>Tên sản phẩm</th>
                        <th>Kiểu dáng</th>
                        <th>Hãng</th>
                        <th>Số lượng</th>
                        <th>Giá mua</th>
                        <th>Giá bán</th>
                        <th>Tình trạng</th>
                        <th>Mô tả</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody id="area_render">
                    @foreach(Model.Product Item in Model)
                    {
                        <tr>
                            <td>@Item.PK_ProductID</td>
                            <td>@Item.Name</td>
                            <td>@Item.ProductType.TypeName</td>
                            <td>@Item.Firm.FirmName</td>
                            <td>@Item.Quantity</td>
                            <td>@Item.BuyPrice</td>
                            <td>@Item.SalePrice</td>
                            <td>@Item.Status</td>
                            <td>@Item.Description</td>
                            <td>
                                <a class="mr-2" href="/Admin/Product/Detail/@Item.PK_ProductID">
                                    <i class="fa fa-eye" title="chi tiết sản phẩm"></i>
                                </a>
                                <a class="ic_del" href="javascript:void(0)">
                                    <i id="ic_del_fa" class="fa fa-trash" data-id="@Item.PK_ProductID" title="xóa"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/Assets/MyScript/ProductEvent.js"></script>

<div class="row">
    <div class="col-3 offset-9">
        <div class="pagination justify-content-end">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page , ViewBag.Code }),
            new PagedListRenderOptions
            {
                LiElementClasses = new string[] { "page-item", "page-link" }
            })
        </div>   
    </div>
</div>
 




