@using System.Collections.Generic
@using SecondHandAuth.Commons;
@{
    List<Model.Firm> ListFirm = (List<Model.Firm>)ViewData["ListFirm"];
    List<int> ListSize = (List<int>)ViewData["ListSize"];
    List<string> ListColor = (List<string>)ViewData["ListColor"];
    string title = (string)ViewBag.Title;
    string Key = ViewBag.Key;
    int Size = ViewBag.Size != null ? (int)ViewBag.Size : 0;
    string Color = (string)ViewBag.Color;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@title</title>
    <meta charset="utf-8" />
    @Styles.Render("~/Home/css")
    @Scripts.Render("~/Admin/Product/js")
    <script>
        $("#cartQTY").html(window.localStorage.getItem("totalItem"));
    </script>
</head>
<body>
    <div class="main_container w-100">
        <div class="row justify-content-center w-100">
            <div class="col-3" id="logo">
                <h2><sub>SECOND HAND</sub></h2><span>AUTH</span>
            </div>

            <div class="col-6">
                <form id="frmSearch" class="row justify-content-center" method="get" action="/Home/Index">
                    <input type="text" id="search-key" class="col-5 form-control mr-1" name="SearchKey" value="@Key" placeholder="Nhập sản Phẩm Cần Tìm">
                    <select name="Size" class="col-2 mr-1 form-control">
                        <option value="">Lọc size</option>
                        @foreach (int size in ListSize)
                        {
                            if (size == Size)
                            {
                                <option selected value="@size">@size</option>
                            }
                            else
                            {
                                <option value="@size">@size</option>
                            }
                        }
                    </select>

                    <select name="Color" class="col-2 form-control">
                        <option value="">Lọc màu</option>
                        @foreach (string color in ListColor)
                        {
                            if(color.Equals(Color))
                            {
                                <option selected value="@color">@color</option>
                            }
                            else
                            {
                                <option value="@color">@color</option>
                            }
                        }
                    </select>
                    
                    <button type="submit" class="btn btn-primary ml-2 col-2"><i class="fas fa-search"></i>Tìm Kiếm</button>
                </form>
            </div>

            <div class="col-3">
                <div class="row justify-content-end">
                    @if(Session[Constants.USER_SESION] != null)
                    {
                        UserSession UserLogin = (UserSession)Session[Constants.USER_SESION];
                        <div class="bg-info rounded p-2 text-white">
                            <a class="text-white" href="/Customer/Index">Xin chào: @UserLogin.Username | </a>
                            <button class="btn text-white" id="btn-logout">Đăng xuất</button>
                        </div>
                    }
                    else
                    {
                        <a class="btn btn-success col-4 mr-2" href="/Admin/Login">Đăng nhập</a>
                        <a class="btn btn-info col-4" id="logoutLink" href="#">Đăng ký</a>
                    }
                </div>

            </div>
        </div>

        <div class="row justify-content-center w-100">
            <div class="menu">
                <ul>
                    <li><a href="/">HOME</a></li>
                    @if (ListFirm != null)
                    {
                        foreach (Model.Firm item in ListFirm)
                        {
                            <li><a href="/Home/Filter?menu=@item.FirmName">@item.FirmName</a></li>
                        }
                    }
                </ul>
                <div id="cart">
                    <a href="/Cart/Index"><img src="~/Assets/img/cart.png"></a>
                    <span id="cartQTY"></span>
                </div>
                <script>
                        $("#cartQTY").html(window.localStorage.getItem("totalItem"));
                </script>
            </div>
            @if (title.Equals("Trang chủ"))
            {
                <div class="slide">
                    <img src="~/Assets/img/banner.png">
                </div>
            }
        </div>

        @RenderBody()

        <div class="footer rounded w-100">
            <div class="img-footer">
            </div>
            <div class="contact-us">
                <div class="contact">
                    <p>Thông Tin Liên Hệ</p>
                    <p><i class="fas fa-map-marker-alt"></i> 96 Định Công - Hoàng Mai - Hà Nội</p>
                    <p><i class="fas fa-phone-square-alt"></i> 0963252122 - 0325682682</p>
                    <p><i class="fas fa-envelope-square"></i></i> langtuyenthanh@gmail.com</p>
                </div>

                <div class="contact">
                    <p>Về Chúng Tôi</p>
                    <p>> Tuyển Dụng</p>
                    <p>> Chính sách đổi trả</p>
                </div>

                <div class="contact">
                </div>
            </div>
        </div>

    </div>
    <script type="text/javascript">
        $("#btn-logout").click(function () {
            window.localStorage.clear();
            window.location.href = window.location.origin + "/Admin/Login/Logout";
            document.cookie = "UserID" + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        })
    </script>
</body>
</html>
